#side1 {
  margin-left: 300px
}

#side2 {
  margin-left: 700px;
  margin-top: -340px;
}

#die {
  margin-left: -15px;
}

#img {
  margin-right: 90px;
}

#img2 {
  margin-left: -150px;
  size: 200px;
}
